body{width:420px;margin:0 auto}
.App > section{margin-bottom:10px;padding:15px 16px;border:1px solid #E2DDFF;border-radius:5px;background-color:#FAF9FF}
.App .tit_counter{display:block}
.App .num_counter{display:block;margin-top:8px;font-size:24px;line-height:28px}
.App .wrap_btn{display:flex;justify-content:space-evenly}
.App .btn_counter{padding:6px 10px;border-radius:4px;color:#fff;background-color:#5747BA}