.btn_comm{padding:10px 20px;border:none;border-radius:5px;background-color:#ECECEC;cursor:pointer;white-space:nowrap}
.btn_positive{color:#fff;background-color:#64C964}
.btn_negative{color:#fff;background-color:#FD565F}